body
{
    overflow-x: hidden;
    font-family: "Roboto", Georgia, Serif;
}
h1 h2 h3
{
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #101015;
}
p{
    font-family: "lato","sans-serif";
    font-size: 1.15em;
}
/*main-container*/
.main-container
{
    max-width: 100%;
}

/*navbar CSS*/
.navbar-custom
{
    text-transform: uppercase;
    background-color: transparent;
    border: transparent;
}
.navbar-text-color
{
    color: #ffffff;
}

/*intro body CSS*/
.intro-body
{
    horizontal-align: middle;
    color: #ffffff;
    padding-top: 170px;
}
.intro-text
{
    font-size: x-large;
}
.direction-sign
{
    padding-top: 150px;
}
.brand-heading
{
    font-size: 4em;
    text-shadow: 2px 2px #000000;
}
.hand-link
{
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 10px 15px;
    font-size: 40px;
    color: #ffffff;
    background: 0 0;
}

/*about me CSS*/
.content-section
{
    background-color: #ffffff;
    width: 100%;
    height: 510px;
}
.padd-b
{
    padding-bottom: 50px;
}
.header-about h2
{
    text-transform: uppercase;
    padding-top: 100px;
}
.hr-property
{
    width: 20px;
    color: red;
}
/*work section CSS*/
.work
{
    padding-top: 90px;
    max-width: 100%;
    height: auto;
}
.work-padd-right
{
    padding-right: 100px;
}
.title-work
{
    text-transform: uppercase;
}
.work-padd
{
    width: 100%;
    padding-top: 100px;
    padding-bottom: 80px;
}
.btn-more-info
{
    border: 2px solid #000000;
    background-color: transparent;
}
.btn-more-info:hover
{
    background-color: #000000;
    color:white;
}
.btn-lg
{
    margin: auto 0 auto 0;
}
.work-img-dimen
{
    width: 380px;
    height: 280px;
}
.work-title
{
    padding-top: 60px;
    padding-bottom: 20px;
}
.padd-top
{
    padding-top: 50px;
}
.work-img
{
    width: 100%;
}
.work_portfolio
{
    width: 100%;
    height: auto;
}
.view-btn
{
    width: 100%;
}
/**************************************/
/*footer section CSS*/
.hire-padd-top
{
    padding-top: 20px;
}
.hire-title
{
    /*text-shadow: 3px 2px white;*/
}
.mail-color:hover
{
    color: blue;
}
.footer-bg
{
    color: white;
    width: 100%;
    background-color: #000000;
}
.hire-padd-bott
{
    padding-bottom: 25px;
}
